{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_video/video

    Template for displaying a video.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * cm
    * cmjson
    * video - Video module instance
    * cmjson - Course module
    * videojson - JSON encoded video module instance
    * options - JSON encoded player options
    * supportsprovider - Video supports a third party provider (e.g. youtube, vimeo)
    * supportshtml5 - Video supports html5 embed (e.g. url/local file)
    * url - If html5 supported, video url

    Example context (json):
    {
        "video": {
            "id": 123,
            "name": "Hello world"
        },
        "cmjson": "{}",
        "videojson": "{}",
        "options": "{}",
        "supportsprovider": false,
        "supportshtml5": true,
        "url": "https://domain.com/path/to/video.mp4"
    }
}}

<div id="video-manager-{{uniqueid}}">
    <div class="input-group mb-3">
        <input type="text" name="search-videos-value" class="form-control" placeholder="Search for videos..." aria-label="Search video query" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary search-videos-button" type="button" title="Search">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
    <div class="card-columns">

    </div>
</div>
